<label for="">server name </label>

<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->

<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">


<!-- <p>{{ serverName }}</p> -->

<button class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server</button>
    <!-- <p [innerText]="allowNewServer"></p> -->
    <!-- <p>{{ serverCreationStatus }}</p> -->
    <p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
   
<app-server *ngFor="let server of servers"></app-server>

<button class="btn btn-primary"
    (click)="showPassword($event)">
        Secret Password
</button>

<p *ngIf="serverPassword">Secret password: Tuna</p>

<p 
    *ngFor="let buttonLog of buttonLogs; let i = index"
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
    [ngClass]="{logItem5: i >= 4}"

> {{ buttonLog }} </p>
